In [1]:
import pandas as pd
import plotly
import plotly.graph_objs as go


data = pd.read_csv("data/brett.csv")
df = data.fillna('blank')
df.head()

,Survey,Bmore_Parent_Evaluation,Parent_Learning,Strategy_ Inspirational_Great Speaker,Handout,Interactive_Role Plays
0,1,Good Conversation Strategies for changing unwa...,yes,yes,blank,blank
1,2,Excellent presenter with good content and real...,blank,yes,blank,blank
2,3,Empowering; Handout was great,blank,yes,yes,blank
3,4,Nice Strategy,blank,yes,blank,blank
4,5,Ask your kids questions you don’t know the an...,yes,blank,blank,blank

In [3]:
parent = df[(df['Parent_Learning'] == 'yes')].count()
blank = df[(df['Parent_Learning'] == 'blank')].count()

Survey                                   7
Bmore_Parent_Evaluation                  7
Parent_Learning                          7
Strategy_ Inspirational_Great Speaker    7
Handout                                  7
Interactive_Role Plays                   7
dtype: int64

In [9]:
resutls = pd.concat([parent,blank], axis=1).reset_index()
resutls

                                   index   0  1
0                                Survey   29  7
1                Bmore_Parent_Evaluation  29  7
2                        Parent_Learning  29  7
3  Strategy_ Inspirational_Great Speaker  29  7
4                                Handout  29  7
5                 Interactive_Role Plays  29  7

In [16]:
resutls.columns = ['Bmore_Evaluation', 'Yes','blank']
resutls

                        Bmore_Evaluation  Yes  blank
0                                Survey    29      7
1                Bmore_Parent_Evaluation   29      7
2                        Parent_Learning   29      7
3  Strategy_ Inspirational_Great Speaker   29      7
4                                Handout   29      7
5                 Interactive_Role Plays   29      7

In [18]:
test = resutls[(resutls['Bmore_Evaluation'] == 'Parent_Learning')]
test

  Bmore_Evaluation  Yes  blank
2  Parent_Learning   29      7